<div class="container">
  <div class="header">
    <div class="images__container">
      <img
        class="img"
        srcset="./images/danylo.jpg 1x, ./images/danylo@2x.jpg 2x"
        src="./images/danylo.jpg"
        alt="Danylo Altukhov"
      />
    </div>
    <div class="header-text__container">
      <h1 class="header__title">Altukhov Danylo</h1>
      
      <p class="header__subtitle">Summary</p>
      
      <p class="header__text">
        I am a Junior Front-End Developer. I focus on HTML5, CSS3, SASS, JS,
        React. English- Intermediate. I am looking for remote job. Development,
        practice and studying something new are important for me. I intend to
        develop innovative technologies and deliver value for people.
      </p>
    </div>
  </div>
</div>
