<section class="work">
  <div class="container">
    <h2 class="work__title">Work experience</h2>

    <p class="work__subtitle">Water treatment operator</p>
    <p class="work__place">LLC “KPE “Zdorovye narodu” | 2020 – present</p>

    <p class="work__res">Responsibilities:</p>
    <ul class="work__list">
      <li class="work__item">
        <p class="work__text">
          Observe the reading of the compositions of water.
        </p>
      </li>
      <li class="work__item">
        <p class="work__text">
          Maintain conditions for proper manufacture and conservation of water.
        </p>
      </li>
      <li class="work__item">
        <p class="work__text">Delivery of water for production.</p>
      </li>
    </ul>
  </div>
</section>
