<section class="projects">
  <div class="container">
    <h2 class="projects__title">Projects</h2>
    <p class="projects__subtitle">Group projects</p>
    <ul class="projects__list">
      <li class="projects__item">
        <a
          class="projects__link"
          href="https://cheekygeroin.github.io/ice-cream-project/"
          >Ice-Cream</a
        >
        <p class="projects__text">
          Ice-Cream company web-site. Responsible layout, tasty, neat design.
          <a href="https://github.com/CheekyGeroin/ice-cream-project.git"
            >Using HTLM, SASS, JS, Parcel.</a
          >
        </p>
      </li>
      <li class="projects__item">
        <a class="projects__link" href="https://tanetti.github.io/filmoteka/"
          >Filmoteka</a
        >
        <p class="projects__text">
          Project about searching films, ability to add favourite movies to your
          library. Responsible layout.
          <a href="https://github.com/tanetti/filmoteka.git"
            >Using JS, npm-packages, SASS, HTML.</a
          >
        </p>
      </li>
    </ul>
    <p class="projects__subtitle">Indvidual projects</p>
    <ul class="projects__list">
      <li class="projects__item">
        <a href="https://cheekygeroin.github.io/yoga/">Yoga</a>
        <p>
          Project about yoga lessons, ability to sign up for the lessons.
          Responsible layout.
          <a href="https://github.com/CheekyGeroin/yoga.git"
            >Using JS, HTML, SASS.</a
          >
        </p>
      </li>
    </ul>
  </div>
</section>
