.soft{
    margin-bottom: 23px;
}
.soft__title{
    color: $secondTextColor;
    background-color: $mainTextColor;
    font-weight: 600;
    font-size: 32px;
    padding: 9px 0 9px 22px;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.soft__list{
padding-left: 25px;
}
