<section class="education">
  <div class="container">
    <h2 class="education__title">Education</h2>

    <ul class="education__list">
      <li class="education__item">
        <p class="additional__subtitle">IT School GoIT</p>
        <p class="additional__education">Full stack developer</p>
        <p class="additional__text">January 2022 – November 2022 | Ukraine</p>
      </li>
      <li class="education__item">
        <p class="education__subtitle">
          College of National University of Pharmacy, Kharkiv |<span
            class="education__years"
            >2018 - 2020</span
          >
        </p>
        <p class="education__text">
          Junior Specialist | Pharmacy, industrial pharmacy
        </p>
      </li>
    </ul>
  </div>
</section>
