.header{
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 39px;
    background-color: $mainTextColor;
    margin-bottom: 22px;
}
.header__title{
    font-size: 43px;
color: $secondTextColor;
font-weight: 900;
text-align: center;
margin-bottom: 32px;
}

.header__subtitle{
    font-size: 32px;
    color: $secondTextColor;
    text-align: center;
    font-weight: 600;
    margin-bottom: 17px;
}

.header__text{ 
    color: $secondTextColor;
    margin-left: auto;
    margin-right: auto;
}